
    
      h1[data-testid="slackUserName"] 
      {

      font-size: 24px;
      color: #333;
      text-align: center;
      color: #e012ad;
    }

   
    img[data-testid="slackDisplayImage"] {
      max-width: 150px;
      display: block;
      margin: 0 auto;
      border-radius: 10%;
      
    }

   
    p[data-testid="currentDayOfTheWeek"] {
      font-size: 18px;
      font-weight: bold;
      color: #282527;
      text-align: center;
    }

    p[data-testid="currentUTCTime"] {
      font-size: 16px;
      color: #777;
      text-align: center;
    }

    p[data-testid="myTrack"] {
      font-size: 20px;
      font-weight: bold;
      color: #4CAF50;
      text-align: center;
    }

   
    a[data-testid="githubURL"] {
      display: block;
      text-align: center;
      font-size: 18px;
      color: #007bff;
      text-decoration: none;
      margin-top: 20px;
    }
    @media (max-width: 768px) {

      body {
          font-size: 16px; 
      }
    
    }

